{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GradeSection</title>
	
	<header style="font-size: 50px;margin-left: 150px; margin-top: 50px;">Grade Section</header>
	<link rel="stylesheet" href="{% static 'stylesheets/gradestyles.css' %}"
	
</head>
<body>
		<div>
		<select>
		<option name="subject" placeholder="sub">maths</option>
		<option name="sub" placeholder="sub">sciences</option>
		</select>
</div>
	<div>
		<select>
		<option name="grade" placeholder="Grade">class 10</option>
		<option name="grade" placeholder="Grade"> class 9</option>
		</select>
</div>
<div>
		<select>
		<option name="sec" placeholder="Section">A</option>
		<option name="sec" placeholder="Section">B</option>
		</select>
</div>
<center>
<input type="submit" name="but" value="View">	
</center>
</body>
</html>