{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Grade System</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{%static "stylesheets/stylesheets.css" %}">
	<header style="font-size: 50px;margin-left: 150px; margin-top: 50px;">GradeSystem</header>
</head>
<body><div>
<a href="./stdinfo"><input type="button" class="button" name="StudentInfo" value="StudentInfo"></a>
<a href="./gra"><input type="button" class="button" name="grade" value="GradeView"></a> 

	<div class="text">
	<form action="" method="POST">
	{% csrf_token %}
	<center>
		<div>
			<i class="fa fa-graduation-cap icon"></i>
		<input type="text" name="gradename" placeholder="grade"><br></div>
		<div>
			<i class="fa fa-puzzle-piece icon"></i>
		<input type="text" name="sectionname" placeholder="section"><br>
		</div>
		<div>
			<i class="fa fa-subscript icon"></i>
			<input type="text" name="subjectname" placeholder="subject"><br>
			
			<th><input type="button" class="button" name="Add" value="Add"></th>
			<th><input type="button" class="button" name="Update" value="Update"></th>
			<th><input type="button" class="button" name="Delete" value="Delete"></th>
			<th><a href="./databa"><input type="button" class="button" name="Display" value="Display"></a></th>
			
			
</center>
</form>
			</div>
	</center>
</body>
</html>