{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href={% static 'stylesheets/stdstyles.css' %}>

	<title>Student info</title>
</head>
<body>
	<header style="font-size: 50px;margin-left: 150px; margin-top: 50px;">Student Info</header>
	<form class="regi" method="POST" >
	{% csrf_token %}
<div>
		<input type="text" name="name" placeholder="Name">
</div>		
<div>
		<input type="text" name="enum" placeholder="Enrollment Number">
</div>	
<div>
		<input type="text" name="grade" placeholder="Grade">
</div>
<div>
		<input type="text" name="sec" placeholder="Section">
</div>		
<div>
		<input type="text" name="mail" placeholder="Email">
</div>	
<div>
		<input type="text" name="mnum" placeholder="Mobile">
</div>	
<div>
		<input type="file" name="img">
</div>

<div class="btn">
<button type="button">Submit</button>
<button type="button">Update</button>
<button type="button">Delete</button>
<a href="/stddataba"><button type="button">Display</button></a>
</div>

	</form>

</body>
</html>