

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>View</title>
	<title>AdminData</title>
		<style>
	table,th,tr,td{
			border: 5px solid ;
			border-spacing: 10px;
			margin-top: 250px;
			margin-left: 500px;
	}
	</style>
</head>
<body>
	{% for i in obj%}
		<table>
		<caption><u>Data</u></caption>
			<tr>
		<th>GradeName</th>
		<th>Section Name</th>
		<th>subjectname</th></tr>
		<tr>
	<td>{{i.gradename}}</td>

	<td>{{i.sectionname}}</td>

	<td>{{i.subjectname}}</td></tr>
	</table>
	{% endfor %}


</body>
</html>