<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>StudentData</title>
		<style>
	table,th,tr,td{
			border: 5px solid ;
			border-spacing: 10px;
		margin-top: 250px;
		margin-left: 500px;
	}
	</style>
<header style="font-size: 50px;margin-left: 150px; margin-top: 50px;">StudentDataView</header>
</head>
<body>
{% for i in obj1%}
<table>
<caption><u> StudentData</u></caption>
<tr>
<th>Name</th>
<th>Enrollment Number</th>
<th>Grade</th>
<th>Section</th>
<th>Email</th>
<th>Mobile Number</th>
<th>Image</th>
</tr>
<tr>

<td> {{i.name}} </td>
<td> {{i.enum}} </td>
<td> {{i.grade}} </td>
<td> {{i.sec}} </td>
<td> {{i.mail}} </td>
<td> {{i.mnum}} </td>
<td><img src="{{i.img.url}}" width=40px height=40px> </td>
</tr>

</table>
{% endfor%}

</body>
</html>