	body{
		background-color: #404040;
	}
			div{
			margin-bottom: 10px;
			  width: 25%;
 			 padding: 15px;
  			display: inline-block;
  			border: none;
  			background: #f1f1f1;
  			margin-left: 35%;
		}
		select{
			width: 25%;
		}
			input[type="submit"]{
			  background-color: dodgerblue ;
			  margin-top: 20px;
			  margin-left:100px;
			  border: none;
			  border-radius:20px; 
			  color: white;
			  font-size: 15px;
			  cursor: pointer;
			  width: 80px;
			  height: 40px;
		}