		body{
			background-color: #404040;
		}
		input[type="text"]{
			margin-bottom: 10px;
			  width: 25%;
 			 padding: 15px;
  			display: inline-block;
  			border: none;
  			background: #f1f1f1;
		}
		button{
			  background-color: dodgerblue ;
			  margin-top: 30px;
			  margin-left: 10px;
			  border: none;
			  border-radius:20px; 
			  color: white;
			  font-size: 15px;
			  cursor: pointer;
			  width: 60px;
			  height: 40px;
		}
		button:hover{
			background-color: red;
		}
		.regi{
			margin-left: 40%;
			margin-top: 10%;
		}
		input[type="file"]{
		background-color: dodgerblue ;
  		border: none;
  		color: white;
  		display: inline-block;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 16px;
 		cursor: pointer;	
		}
					