body{
				background-color: hsl(0, 0%, 70%);

		}

		th:hover{
			color: red;

		}
		input[type=text]{
  width: 25%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.icon {
  padding: 14px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}
	.text{
		margin-top: 50px;
	}
	input[type=button]{
  background-color: dodgerblue ;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}